alembic
bcrypt==3.2.0
email-validator
fastapi
passlib[bcrypt]
psycopg2-binary
pydantic[email]
pytest
python-dotenv
python-jose[cryptography]
sqlalchemy
uvicorn
jose!=1.0.0,!=0.1.0,!=0.0.0  # prefer: blocking TECHNIC
