fastapi
uvicorn
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
bcrypt==3.2.0
pydantic[email]
psycopg2-binary
pytest
email-validator
jose!=1.0.0,!=0.1.0,!=0.0.0  # prefer: blocking TECHNIC